---
- name: Install tools that don't require Ansible configuration
  pacman: name={{ item }} state=present
  with_items:
    - vim
    - unzip
    - rsync
    - tmux
    - gnome-icon-theme
    - autossh

- name: Install extra tools if using Chris profile
  pacman: name={{ item }} state=present
  with_items:
    - android-tools
    - unrar
    - atop
    - htop
    - dnsutils
    - nmap
    - git
    - lsof
    - xclip
    - pass
    - passmenu
    - sxiv
  when: user == "chris"

- name: Install yturl if using Chris profile
  packer: name=yturl state=present
  when: "user == 'chris'"

- name: Install extra tools if using Lin profile
  pacman: name=libreoffice state=present
  when: user == "lin"

- name: Install laptop tools
  pacman: name=acpi state=present
  when: laptop
