---
- name: Install SSH daemon
apt: name=openssh-server state=present

- name: Enable SSH daemon
  service: name=sshd state=started enabled=yes

- name: Configure SSH daemon
  copy: src=files/sshd_config dest=/etc/ssh/sshd_config

- name: Create SSH group
  group: name=ssh state=present

- name: Add local user to ssh group
  user: name={{ user }} groups=ssh append=yes
